<div class="espaciado-estetico">
<mdb-card >
<div class="table-responsive">
    <table class="table table-striped">
      <div class="centrado">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Evento</th>
          <th>Lugar</th>
          <th>Organizador</th>
          <th>Acompañantes</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody *ngFor="let invitacion of invitaciones">
        <td > {{ invitacion.evento.fechaHoraInicio | date: 'dd/MM/yyyy h:mm a' }} </td>
        <td > {{ invitacion.evento.descripcion }} </td>
        <td > {{ invitacion.evento.locacion.descripcion }} </td>
        <td > {{ invitacion.evento.organizador.nombre }} {{ invitacion.evento.organizador.apellido }}</td>
        <td > {{ invitacion.cantidadAcompaniantes }} </td>
        <td >   
          <i class="material-icons">
            <button class ="colorear-verde" (click)="invitacion.rechazar()">check</button>
          </i>
          <i class="material-icons">
            <button class ="colorear-rojo" (click)="invitacion.rechazar()">clear</button>
          </i>
        </td>
        <tr>
          <!-- <td>20/11/2018</td>
          <td>Cumpleaños</td>
          <td>Triunvirato 3140</td>
          <td>Perry White</td>
          <td>0</td>
          <td>   
          </td>
          -->
        </tr>
      </tbody>
      </div>
    </table>
  </div>
</mdb-card>
</div>