.centrado{
    text-align: center;
}

.espaciado-estetico{
    padding-left: 3em;
    padding-top: 3em;
}

.colorear-rojo{
    color: #DC143C;
    background-color: transparent;
    border: none;
}

.colorear-verde{
    color: rgb(16, 189, 31);
    background-color: transparent;
    border: none;
}