<div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Evento</th>
          <th>Lugar</th>
          <th>Organizador</th>
          <th>Acompañantes</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>20/11/2018</td>
          <td>Cumpleaños</td>
          <td>Triunvirato 3140</td>
          <td>Perry White</td>
          <td>0</td>
          <td>
            <button>Aceptar</button>
            <button>Cancelar</button> <!-- PONER IMAGENES DE ACEPTAR Y CANCELAR. VALDRA LA PENA HACER UN COMPONENT PARA ESTO?-->
          </td>
        </tr>
        <tr>
          <td>20/12/2018</td>
          <td>AGS</td>
          <td>Av Santa Fe 2501</td>
          <td>Jackson Hyde</td>
          <td>2</td>
          <td>
            <button>Aceptar</button>
            <button>Cancelar</button> <!-- PONER IMAGENES DE ACEPTAR Y CANCELAR-->
          </td>
        </tr>
        <tr>
            <td>14/10/2018</td>
            <td>Casamiento</td>
            <td>Cramer 4550</td>
            <td>Catherine Grant</td>
            <td>1</td>
            <td>
              <button>Aceptar</button>
              <button>Cancelar</button> <!-- PONER IMAGENES DE ACEPTAR Y CANCELAR-->
            </td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="botones-nuevos-eventos">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nuevo evento abierto</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nuevo evento cerrado</button>
  </div>

