.centrado {
    text-align: center;
}

.espaciado-estetico {
    padding-top: 3em;
}

.colorear-rojo {
    color: #DC143C;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.colorear-verde {
    color: rgb(16, 189, 31);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

thead {
    background-color: #00a1ff47;
}

th {
    font-weight: bold;
}

.espaciado-estetico {
    margin-left: 5rem;
}

.acompaniantes{
    max-width: 2.5em;
}
