.amigos-card {
    margin-top: 1rem;
}

.componente-container {
    // margin-left: 4rem;
    margin-top: 2rem;
    width: 36rem;
}

.titulo-componente {
    font-size: 2rem;
    font-weight: bold;
}
