.amigos-card {
    margin-top: 1rem;
}

.container-fluid {
    margin-left: 1rem;
    margin-top: 1rem;
    font-size: 0.9rem;
}

.fecha {
    width: 5rem;
}

.hora {
    width: 5rem;
}

.evento {
    width: 8rem;
}

.lugar {
    width: 8rem;
}

.row {
    margin-left: 0;
    margin-top: 0.5rem;
}

.componente-container {
    margin-left: 4rem;
    margin-top: 2rem;
    width: 36rem;
}

.titulo-componente {
    font-size: 2rem;
    font-weight: bold;
}

.titulo {
    font-weight: bold;
}
