.nombre-apellido {
    font-weight: 800;
    font-size: 2.2rem;
}

.datos-usuario {
    padding: 0.3rem;
    font-size: 1.2rem;
    vertical-align: middle;
}

.contenedor-username {
    padding-bottom: 1em;
    font-size: 1.2rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.zoom {
    overflow: hidden;
    max-width: 14rem;
    border-style: solid;
}

.zoom:hover .img-fluid {
    transform: scale(1.3);
    transition: all 2s ease;
}

.img-fluid {
    height: 14rem;
}

.amigos {
    font-size: 2rem;
    font-weight: bold;
    max-height: 3rem;
}

.col-nombre-apellido {
    margin-bottom: 1.4rem;
    margin-top: 1.4rem;
    margin-right: 6rem;
}

.col-user-name {
    margin-bottom: 1.4rem;
    margin-top: 1.4rem;
    margin-right: 3rem;
}

.col-eliminar {
    margin-bottom: 1.4rem;
    margin-top: 1.4rem;
}

.mdb-card {
    margin-top: 1rem;
}

.fas {
    color: #DC143C;
    background-color: white;
    border-style: none;
}

.container {
    margin-right: 0rem;
    margin-left: 1rem;
    margin-top: 1rem;
    max-width: 30rem;
}

.lista-amigos {
    margin-left: 3rem;
    margin-top: 2rem;
    width: 38rem;
}

.card {
    max-width: 14rem;
}

.table-wrapper-scroll-y {
    display: block;
    overflow-y: auto;
    max-height: 23rem;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

.amigos-card {
    margin-top: 1rem;
    max-width: 33rem;
    max-height: 34rem;
}

.mdb-card-content {
    margin-left: 2rem;
    font-size: 0.9rem;
}
