<div class="perfil">
    <div class="container-fluid h-100">
        <div class="foto-container">
            <img class="img-fluid" alt="Responsive image" src="images/supergirl.jpg">
        </div>

        <div>
            <div>
                <div class="contenedor-username">
                    <span class="nombre-de-usuario">Kara Danvers</span>
                </div>
                <div class="contenedor-id-usuario">
                    <span class="id-usuario">@kara95</span>
                </div>
            </div>

            <ul>
                <li>
                    <span class="material-icons">stars</span>
                    <span class="datos-usuario">Profesional</span>
                </li>

                <li>
                    <span class="material-icons">email</span>
                    <span class="datos-usuario">kara@catco.com</span>
                </li>

                <li>
                    <span class="material-icons md-light">person_pin</span>
                    <span class="datos-usuario">256</span>
                </li>

            </ul>

        </div>

    </div>

</div>