<nav class="navbar navbar">

    <div class="navbar-brand">
        <div class="far fa-calendar-alt">
            &nbsp;
        </div>
        <a class="titulo" routerLink="/">Event OS</a>
    </div>

    <div class="navbar-nav-scroll">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link active" routerLink="mis-eventos">Mis Eventos</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" routerLink="perfil">Perfil</a>
            </li>
        </ul>
    </div>
</nav>

<router-outlet></router-outlet>