.navbar {
    color: white;
    background-color: #3399ff;
    max-width: 120rem;
}

.nav-link {
    color: white;
}

.titulo {
    color: white;
}

.material-icons {
    display: inline-flex;
    vertical-align: text-top;
    padding-bottom: 0.3em;
}

.waves-light {
    font-size: 1rem;
    text-transform: capitalize;
}

.waves-light:hover {
    background-color: #001fff4d !important;
}
