<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Organizados por mi</h1> <!-- AGREGAR BINDING PARA MOSTRAR AGENDA, ORGANIZADOS POR MI Y PENDIENTES DINAMICAMENTE-->
    <h2 class="sub-header">Organizados por mi</h2>  <!-- AGREGAR BINDING PARA MOSTRAR AGENDA, ORGANIZADOS POR MI Y PENDIENTES DINAMICAMENTE-->
  </div>
  <div class="table-responsive">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Fecha</th>
          <th>Evento</th>
          <th>Lugar</th>
          <th>Invitados</th>
          <th>Confirmados</th>
          <th>Rechazados</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>14/10/2018</td>
          <td>Mi Cumpleaños</td>
          <td>Mi Casa</td>
          <td>50</td>
          <td>50</td>
          <td>10</td>
        </tr>
        <tr>
          <td>20/12/2018</td>
          <td>Despedida Julia</td>
          <td>Av. Cabildo 456</td>
          <td>32</td>
          <td>25</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="botones-nuevos-eventos">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nuevo evento abierto</button>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">Nuevo evento cerrado</button>
  </div>

