<div class="contenedor-tabla">
<mdb-card class="amigos-card">
  <div class="table-responsive">
    <table class="table table-responsive texto-centrado">
      <thead>
        <tr> 
          <th>Fecha</th>
          <th>Evento</th>
          <th>Lugar</th>
          <th>Invitados</th>
          <th>Confirmados</th>
          <th>Rechazados</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>14/10/2018</td>
          <td>Mi Cumpleaños</td>
          <td>Mi Casa</td>
          <td>50</td>
          <td>50</td>
          <td>10</td>
        </tr>
        <tr>
          <td>20/12/2018</td>
          <td>Despedida Julia</td>
          <td>Av. Cabildo 456</td>
          <td>32</td>
          <td>25</td>
          <td>2</td>
        </tr>
      </tbody>
    </table>
  </div>
</mdb-card>
</div>
  <div class="botones-nuevos-eventos">
    <button type="button" mdbBtn color="primary" class="relative waves-light" routerLink="nuevo-evento-abierto"  mdbWavesEffect>Nuevo evento abierto</button>
    <button type="button" mdbBtn color="warning" class="relative waves-light" routerLink="nuevo-evento-cerrado" mdbWavesEffect>Nuevo evento cerrado</button>
  </div>

    <router-outlet></router-outlet>
    