.texto-centrado {
    text-align: center;
}

.botones-nuevos-eventos {
    text-align: right;
}

.contenedor-tabla {
    padding-top: 3em;
    margin-left: 5rem;
}

thead {
    background-color: #00a1ff47;
}

th {
    font-weight: bold;
}

.rellenar {
    max-width: 100%;
    white-space: nowrap;
}
