<div class="margen">
  <div class="title-container">
    <span class="amigos-title">
      Amigos
    </span>
  </div>
  <mdb-card class="amigos-card">
    <table class="table" *ngFor='let amigo of usuarioAmigos.amigos'>
      <div class="margen-amigos">
        <div class="row">
          <div class="col-nombre-apellido">
            {{amigo.nombre}}
            {{amigo.apellido}}
          </div>
          <div class="col-user-name">{{amigo.username}}</div>
          <div class="col-eliminar">
            <button type="button" class="fas fa-times waves-light" data-toggle="modal" data-target="#basicExample"
              data-toggle="tooltip" data-placement="top" title="Eliminar amigo" (click)="setUsuarioAEliminar(amigo)"
              (click)="frame.show()" mdbWavesEffect></button>
          </div>
        </div>
      </div>
    </table>
  </mdb-card>
</div>


<div mdbModal #frame="mdbModal" class="modal fade top" id="frameModalTop" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-sm modal-notify modal-danger" role="document">
    <!--Content-->
    <div class="modal-content text-center">
      <!--Header-->
      <div class="modal-header d-flex justify-content-center">
        <p class="heading">¿Eliminar amigo?</p>
      </div>

      <!--Body-->
      <div class="modal-body">
        <i class="fa fa-times fa-4x animated rotateIn"></i>
      </div>

      <!--Footer-->
      <div class="modal-footer flex-center">
        <a mdbBtn color="danger" outline="true" class="waves-effect" (click)="usuarioAmigos.eliminarAmigo(usuarioAEliminar)"
          (click)="frame.hide()" mdbWavesEffect>Si</a>
        <a type="button" mdbBtn color="danger" class="waves-effect" mdbWavesEffect data-dismiss="modal" (click)="frame.hide()">No</a>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>