.lista-amigos {
    margin-left: 2rem;
    margin-top: 2rem;
    max-width: auto;
}

.amigos {
    font-size: 2rem;
    font-weight: bold;
    max-height: 3rem;
}

.mdb-card {
    margin-top: 1rem;
}

.amigos-card {
    margin-top: 1rem;
}

// .table-wrapper-scroll-y {
//     display: block;
//     overflow-y: auto;
//     -ms-overflow-style: -ms-autohiding-scrollbar;
// }

.container-fluid {
    margin-left: 1rem;
    font-size: 0.9rem;
}

.col-nombre-apellido {
    width: 14rem;
}

.col-user-name {
    width: 10rem;
}

.col-eliminar {
    width: 4rem;
}

.fas {
    color: #DC143C;
    background-color: white;
    border-style: none;
}

.row {
    margin-left: 0.5rem;
    margin-top: 0.5rem;
}
