.amigos-title {
    font-size: 3rem;
    font-weight: bold;
    max-height: 3rem;
}

.amigos-card {
    margin-top: 2rem;
    max-width: 48rem;
}

.col-nombre-apellido {
    width: 20rem;
}

.col-user-name {
    width: 15rem;
}

.col-eliminar {
    width: 4rem;
}

.fas {
    color: #DC143C;
    border-style: none;
    background-color: transparent;
}

.margen-amigos {
    margin: 1.4rem;
    margin-left: 2.5rem;
}

.margen {
    margin-left: 2rem;
    height: 100rem;
}

.title-container {
    text-align: center;
    margin-top: 1.5rem;
}

.table:hover {
    background: #167696;
    color: #fff;
}

.fa-times {
    cursor: pointer;
}

.table{
    font-size: 1rem;
}