<!-- CREACION EVENTO CERRADO
<div mdbModal #modalEventoCerrado="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalEventoCerrado.hide()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Nuevo Evento Cerrado</h4>
      </div>
      <div class="modal-body">
        No implementado todavía
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="primary" class="waves-light" mdbWavesEffect>Aceptar</button>
        <button type="button" mdbBtn color="danger" class="relative waves-light" aria-label="Close" (click)="modalEventoCerrado.hide()"  mdbWavesEffect>Cancelar</button>
      </div>
    </div>
  </div>
</div> -->
<div mdbModal #modalEventoCerrado="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" (keydown.esc)="cancelar()" [config]="{ignoreBackdropClick: true}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelar()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Nuevo Evento Cerrado</h4>
      </div>
      <div class="modal-body container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <div>
              <!-- TEXTBOX NOMBRE INICIO -->
              <mat-form-field>
                <input matInput placeholder="Nombre" [(ngModel)]="nuevoEventoCerrado.descripcion"
                  [formControl]="nombreFormControl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="nombreFormControl.hasError('required')">
                  <strong>
                    El nombre no puede estar vacío
                  </strong>
                </mat-error>
              </mat-form-field>
              <!-- TEXTBOX NOMBRE FIN -->
            </div>
            <br>
            <div>
              Inicio:<br>
              <!-- DATEPICKER InicioDeEvento INICIO -->
              <mat-form-field class="example-full-width datepicker">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerInicio" (change)="pickerInicio.open()" placeholder="Elija una Fecha">
                <mat-datepicker-toggle matSuffix [for]="pickerInicio"></mat-datepicker-toggle>
                <mat-datepicker #pickerInicio></mat-datepicker>
              </mat-form-field>
              
              <!-- DATEPICKER InicioDeEvento FIN -->
            </div>
          </div>
          <div class="col-sm-6">
            <div>
              <!-- TEXTBOX LOCACION INICIO -->
              <mat-form-field>
                <input [(ngModel)]="nuevoEventoCerrado.locacion.descripcion" matInput placeholder="Locacion"
                  [errorStateMatcher]="matcher" [formControl]="locacionFormControl">
                <mat-error *ngIf="locacionFormControl.hasError('required')">
                  <strong>
                    La locación no puede estar vacía
                  </strong>
                </mat-error>
              </mat-form-field>
              <!-- TEXTBOX LOCACION FIN -->
            </div>
            <br>
            <div>
              Fin:<br>
              <!-- DATEPICKER FinDeEvento INICIO -->
              <mat-form-field class="example-full-width datepicker">
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerFin" (change)="pickerFin.open()" placeholder="Elija una Fecha">
                <mat-datepicker-toggle matSuffix [for]="pickerFin"></mat-datepicker-toggle>
                <mat-datepicker #pickerFin></mat-datepicker>
              </mat-form-field>
              <!-- DATEPICKER FinDeEvento FIN -->
            </div>
          </div>
        </div>
        <div> 
        Fecha Máxima Confirmación:<br>
        <!-- DATEPICKER Fecha Máxima Confirmación INICIO -->
        <mat-form-field class="example-full-width datepicker">
            <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="pickerMaximaConfirmacion" (change)="pickerMaximaConfirmacion.open()" placeholder="Elija una Fecha">
            <mat-datepicker-toggle matSuffix [for]="pickerMaximaConfirmacion"></mat-datepicker-toggle>
            <mat-datepicker #pickerMaximaConfirmacion></mat-datepicker>
          </mat-form-field>
        <!-- DATEPICKER Fecha Máxima Confirmación FIN -->
         </div>
      </div>
      <div class="modal-footer">
        <button type="button" mdbBtn color="primary" class="waves-light" (click)="aceptar()" mdbWavesEffect>Aceptar</button>
        <button type="button" mdbBtn color="danger" class="relative waves-light" aria-label="Close" (click)="cancelar()"
          mdbWavesEffect>Cancelar</button>
      </div>
    </div>
  </div>
</div>