::ng-deep .cdk-overlay-container {
    z-index: 1200;
}

.error-fechas {
    color: red;
    margin-right: 15rem;
}

.fa {
    margin-left: 1rem;
    cursor: pointer;
}

.margen-fecha {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.margen-maxima {
    margin-top: 3.4rem;
    margin-bottom: 1rem;
}

.margen-final{
    margin-bottom: 3rem;
}
