::ng-deep .cdk-overlay-container {
    z-index: 1200;
}

.error-fechas {
    color: red;
    margin-right: 15rem;
}

.fa {
    margin-left: 1rem;
    cursor: pointer;
}

.margen-fecha {
    margin-bottom: 1rem;
}

.fecha-maxima {
    margin-top: 2rem;
}

.margen-holder {
    margin-bottom: 0.3rem;
}
