<!-- <div class="container-fluid">
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar">
        <ul class="nav nav-sidebar">
          <li class="active"><a href="#">Agenda <span class="sr-only">(current)</span></a></li>
          <li><a href="#">Organizados por mí</a></li>
          <li><a href="#">Pendientes</a></li>
        </ul>
      </div>
    </div>
  </div> -->

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3 hidden-xs">
      <div data-spy="affix" data-offset-top="0">
        <div class="list-group">
          <a class="list-group-item" routerLink="agenda"> Agenda</a>
          <a class="list-group-item" routerLink="organizados-por-mi">Organizados por mí</a>
          <a class="list-group-item" routerLink="pendientes">Pendientes</a>
        </div>
      </div>
    </div>
  </div>
</div>

<router-outlet></router-outlet>