  <mdb-card class="user-image">
    <div class="zoom">
      <img class="img-fluid" alt="imagen de perfil" src="images/supergirl.jpg">
    </div>
    <div class="centrado">
      <ul>
        <li class="contenedor-nombre-apellido">
          <span class="nombre-apellido">{{usuarioImage.nombre}}&nbsp;{{usuarioImage.apellido}} </span>
        </li>

        <li class="contenedor-username">
          <span class="username">{{usuarioImage.username}}</span>
        </li>
      </ul>

      <ul>
        <li>
          <span class="material-icons">stars</span>
          <span class="datos-usuario">{{usuarioImage.tipoDeUsuario.descripcion()}}</span>
        </li>

        <li>
          <span class="material-icons">email</span>
          <span class="datos-usuario">{{usuarioImage.email}}</span>
        </li>

        <li>
          <span class="material-icons md-light">person_pin</span>
          <span class="datos-usuario">{{usuarioImage.amigos.length}}</span>
        </li>

      </ul>
    </div>
  </mdb-card>