.mdb-card {
    margin-top: 1rem;
}

.zoom {
    overflow: hidden;
    max-width: 14rem;
    border-style: solid;
}

.img-fluid {
    height: 14rem;
}

.zoom:hover .img-fluid {
    transform: scale(1.3);
    transition: all 2s ease;
}

.contenedor-username {
    padding-bottom: 1em;
    font-size: 1.2rem;
    align-content: center;
}

.nombre-apellido {
    font-weight: 800;
    font-size: 2.2rem;
}

.datos-usuario {
    padding: 0.3rem;
    font-size: 1.2rem;
    vertical-align: super;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card {
    max-width: 14rem;
}

.centrado {
    margin: 1.1rem;
}

.user-image {
    border-style: solid;
    margin: 2rem;
    margin-right: 30rem;
}
