  <mdb-card class="user-image">
    <div class="zoom">
      <img class="img-fluid" alt="imagen de perfil" src="assets/images/supergirl.jpg">
    </div>
    <div class="centrado">
      <ul>
        <li class="contenedor-nombre-apellido">
          <span class="nombre-apellido" *ngIf="usuarioLogueado"> {{usuarioLogueado.nombre}}&nbsp;{{usuarioLogueado.apellido}} </span>
        </li>

        <li class="contenedor-username">
          <span class="username" *ngIf="usuarioLogueado">{{usuarioLogueado.username}}</span>
        </li>
      </ul>

      <ul>
        <li>
          <span class="material-icons">stars</span>
          <span class="datos-usuario" *ngIf="usuarioLogueado">{{usuarioLogueado.tipoUsuario.descripcion}}</span>
        </li>

        <li>
          <span class="material-icons">email</span>
          <span class="datos-usuario" *ngIf="usuarioLogueado">{{usuarioLogueado.email}}</span>
        </li>

        <li>
          <span class="material-icons md-light">person_pin</span>
          <span class="datos-usuario" *ngIf="usuarioLogueado">{{usuarioLogueado.cantidadAmigos}}</span>
        </li>

      </ul>
    </div>
  </mdb-card>