/* You can add global styles to this file, and also import other style files */

.fa-calendar-alt {
    color: white;
}

.nav-link {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.titulo {
    color: white;
    font-family: 'Roboto Condensed', sans-serif;
}

.material-icons {
    display: inline-flex;
    vertical-align: text-top;
    padding-bottom: 0.3em;
}
html, body { height: 100%; }
body { margin: 0; font-family: 'Roboto', sans-serif; }
