<div mdbModal #modalEvento="mdbModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myBasicModalLabel"
  aria-hidden="true" (keydown.esc)="cancelar()" [config]="{ignoreBackdropClick: true}">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close pull-right" aria-label="Close" (click)="cancelar()">
          <span aria-hidden="true">×</span>
        </button>
        <h4 class="modal-title w-100" id="myModalLabel">Nuevo Evento Abierto</h4>
      </div>
      <div class="modal-body container-fluid">
        <div class="row">
          <div class="col-sm-6">
            <div>
              <!-- TEXTBOX NOMBRE INICIO -->
              <mat-form-field>
                <input class="margen-holder" matInput [(ngModel)]="nuevoEvento.descripcion" placeholder="Nombre"
                  [formControl]="nombreFormControl" [errorStateMatcher]="matcher">
                <mat-error *ngIf="nombreFormControl.hasError('required')">
                  <strong>
                    El nombre no puede estar vacío
                  </strong>
                </mat-error>
              </mat-form-field>
              <!-- TEXTBOX NOMBRE FIN -->
            </div>
            <br>
            <div>
              <div class="margen-fecha"><br></div>
              <mat-form-field>
                <input class="margen-holder" matInput [(ngModel)]="nuevoEvento.fechaHoraInicio" [owlDateTime]="fechaHoraInicio"
                  placeholder="Fecha y hora de inicio" (change)="fechaHoraInicio.open()" [formControl]="fechaInicioFormControl"
                  [min]="hoy">
                <mat-error *ngIf="fechaInicioFormControl.hasError('required')">
                  <strong>
                    La fecha y hora de inicio no puede estar vacía
                  </strong>
                </mat-error>
              </mat-form-field>
              <span [owlDateTimeTrigger]="fechaHoraInicio"><i class="fa fa-calendar"></i></span>
              <owl-date-time  #fechaHoraInicio></owl-date-time>
              <!-- DATEPICKER InicioDeEvento FIN -->
            </div>
          </div>
          <div class="col-sm-6">
            <div>

              <mat-form-field>
                <mat-select placeholder="Locacion" [formControl]="locacionFormControl" [(ngModel)]="nuevoEvento.locacion">
                  <mat-option>--</mat-option>
                  <mat-option *ngFor="let locacion of locaciones" [value]="locacion">
                    {{locacion.descripcion}}
                  </mat-option>
                </mat-select>
                <mat-error *ngIf="locacionFormControl.hasError('required')">La locación no puede estar vacía</mat-error>
              </mat-form-field>
            </div>
            <br>
            <div>

              <div class="margen-fecha"><br></div>
              <mat-form-field>
                <input class="margen-holder" matInput [(ngModel)]="nuevoEvento.fechaHoraFin" [owlDateTime]="fechaHoraFin"
                  (change)="fechaHoraFin.open()" [formControl]="fechaFinFormControl" placeholder="Fecha y hora de fin"
                  [min]="hoy" [owlDateTimeFilter]="filtroFechaFin">
                <mat-error *ngIf="fechaFinFormControl.hasError('required')">
                  <strong>
                    La fecha y hora de fin no puede estar vacía
                  </strong>
                </mat-error>
              </mat-form-field>
              <span [owlDateTimeTrigger]="fechaHoraFin"><i class="fa fa-calendar"></i></span>
              <owl-date-time  #fechaHoraFin></owl-date-time>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="error-fechas" *ngIf="empiezaDespuesDeTerminar()">El evento debe finalizar en una fecha posterior a
          la de fecha de inicio</div>
        <button type="button" mdbBtn color="primary" class="waves-light" (click)="aceptar(IDUsuarioLogueado)"
          [disabled]="noPuedeCrearEvento()" mdbWavesEffect>Aceptar</button>
        <button type="button" mdbBtn color="danger" class="relative waves-light" aria-label="Close" (click)="cancelar()"
          mdbWavesEffect>Cancelar</button>
      </div>
    </div>
  </div>
</div>