::ng-deep .cdk-overlay-container {
    z-index: 1200;
}

.error-fechas {
    color: red;
    margin-right: 15rem;
}

.fa {
    cursor: pointer;
}

.margen-fecha {
    margin-bottom: 1rem;
}

.margen-holder {
    margin-bottom: 0.3rem;
}
