.container-fluid {
    font-size: 0.9rem;
}

.centrado {
    text-align: center;
}

td {
    width: 20rem;
}

.titulo-container {
    font-weight: bold;
    text-align: left;
    background-color: #00a1ff47;
}

.titulo {
    margin-left: 1rem;
}
